<div class="panel panel-default" data-ng-init="chatRoom=<%= @chatroom.id %>; loadChatRoom()">
    <div class="panel-heading">
        <% @title ||= ti(:title, model: full_entry_label).html_safe -%>
        <% @messages = @chatroom.chatmessages %>
        <% @userids = @messages.map(&:user_id).uniq %>
        <strong><%= @chatroom %></strong> (<%= @userids.count %> users, <%= @messages.count %> messages, created <%= @chatroom.created_at %> by <%= @chatroom.user %>)
        <% content_for(:actions, render('actions_show')) %>
    </div>

    <div class="panel-body">
        <video class="ng-hide" height="200" id="localVideo"></video>
        <div id="remotesVideos">
        </div>
        <div class="well" id="chatwell">
            <ul id="chat">
                <% for @message in @messages %>
                    <li><%= @message.user %>: <%= @message.body %></li>
                <% end %>
            </ul>
        </div>
    </div>


    <div class="panel-footer">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" id="testinput" placeholder="Start typing..." type="text">
            </div>
            <div class="btn-group">
                <button id="testpost" class="btn btn-default">Send</button> <button class="btn btn-default" data-ng-click="loadWebRTC()" type="button"><span class=
                "glyphicon glyphicon-facetime-video"><!----></span></button>
            </div>
        </form>
    </div>
</div>


