<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>chatplace - realtime place centric chat</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tag %>

<!--[if lt IE 9]>
<script src="//cdn.jsdelivr.net/html5shiv/3.7.0/html5shiv.js"></script>
<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
<![endif]-->

  <link href="//cdn.jsdelivr.net/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="//cdn.jsdelivr.net/leaflet/0.7.2/leaflet.css" rel="stylesheet" type="text/css">
  <link href="css/app.css" rel="stylesheet" type="text/css">

  <%= favicon_link_tag %>
  <%= favicon_link_tag '/apple-touch-icon.png',
                       rel: 'apple-touch-icon',
                       type: 'image/png' %>
  <%= favicon_link_tag '/apple-touch-icon-72x72.png',
                       rel: 'apple-touch-icon',
                       type: 'image/png',
                       sizes: "72x72" %>
  <%= favicon_link_tag '/apple-touch-icon-114x114.png',
                       rel: 'apple-touch-icon',
                       type: 'image/png',
                       sizes: "114x114" %>

  <%= yield :head %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <%= render 'layouts/nav' %>
</nav>

<div class="container">

  <h1><%= @title %></h1>

  <div class="row actions">
    <div class="col-md-5">
        <%= yield :tools %>
    </div>
    <div class="col-md-7">
      <div class="btn-toolbar pull-right">
        <%= yield :actions %>
      </div>
    </div>
  </div>

  <div id="flash">
    <%= render partial: 'layouts/flash', collection: [:notice, :alert], as: :level %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

</div>

<footer>
  <p>&copy; code!z <%= Time.zone.now.year %></p>
</footer>

<!-- Javascript placed at the end of the document so the pages load faster -->
<script src="//cdn.jsdelivr.net/angularjs/1.2.15/angular.js"></script>
<script src="//cdn.jsdelivr.net/angularjs/1.2.15/angular-animate.min.js"></script>
<script src="//cdn.jsdelivr.net/angular.strap/2.0.0/angular-strap.min.js"></script>
<script src="//cdn.jsdelivr.net/angular.strap/2.0.0/angular-strap.tpl.min.js"></script>
<script src="//cdn.jsdelivr.net/showdown/0.3.1/showdown.js"></script>
<script src="//cdn.jsdelivr.net/leaflet/0.7.2/leaflet.js"></script>
<script src="//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/2.6.0/moment.min.js"></script>
<script src="js/vendor/faye-browser-min.js"></script>
<script src="js/vendor/simplewebrtc.js"></script>
<script src="js/vendor/md5.min.js"></script>
<script src="js/vendor/angular-gravatar.min.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script src="js/app.js"></script>
</body>
</html>
